.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  min-height: 7vh;
  max-height: 7vh;
  display: flex;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main{
  width: 70vw;
  height: 90vh;
  max-height: 90vh;
  text-align: center;

  /* Used to put imageDatabase on same row */
  float: left;

  margin-top: 8px;
  margin-left: 8px;
}

.imageInput{
  /* placeholder */
  width: 100%;
  max-height: 60%;

  /*border: 3px solid #282c34;
  border-radius: 15px;*/
}

.imageDatabase{
  display: inline block;
  width: 20vw;
  height: 80vh;
  
  /*border: 3px solid #282c34;*/
  border-radius: 15px 0px 0px 15px;

  margin-top: 8px;
  margin-left: 75vw;

  overflow-y: auto;

  text-align: center;
}

#galleryDesc{

}

.galleryImg{
  width: 100%;
}

#downloadBtn{
  visibility: hidden;
  position: absolute;
}

#threshBtn{
  visibility: hidden;
  position: absolute;
}

#blurBtn{
  visibility: hidden;
  position: absolute;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {background-color:#282c34; /* Green */
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 6px 12px;
  cursor: pointer;
  min-width: 10vw;
  height: 11vh;
}

button {
  background-color:#282c34; /* Green */
  border-radius: 12px;
  min-width: 5vw;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#logo{
  filter: invert(98%) sepia(1%) saturate(208%) hue-rotate(184deg) brightness(116%) contrast(100%);
  left: 8px;
  top: 8px;
  max-height: 7vh;
  display: block;
}

#uploadIMG{
  filter: invert(98%) sepia(1%) saturate(208%) hue-rotate(184deg) brightness(116%) contrast(100%);
  max-height: 3vh;
}

#id{
  left: 80px;
}

#image{
  min-height: 50vh;
  max-height: 59vh; /*60 - 1*/
  max-width: 100vw;
  margin-top: 1vh;
}


/* Custom scollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}